/node_modules
/public/build
/public/hot
/public/client
/public/storage
/public/images
/public/nitro
/public/dist
!/public/nitro/.gitkeep
/nitro/nitro-assets
/nitro/nitro-converter
/nitro/nitro-react
/nitro/nitro-swf
/storage/*.key
/vendor
/public/static
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
yarn.lock
/.idea
/.vscode
/public/assets/images/generated-logos
/packages
!/resources/view/.gitkeep