/node_modules
/public/build
/public/hot
/public/client
/public/storage
/public/images
/public/vendor
/lang/vendor
/storage/*.key
/vendor
/public/static
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json
/.idea
/.vscode
!/resources/view/.gitkeep
