/node_modules
/public/build
/public/hot
/public/client
/public/storage
/public/images
/storage/*.key
/vendor
/public/static
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
yarn.lock
/.idea
/.vscode
/public/assets/images/generated-logos
/packages
/resources/views/**/
!/resources/view/.gitkeep