@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
    .nav-item {
        @apply h-full flex items-center uppercase text-[14px] transition duration-200 ease-in-out font-bold md:border-b-4 md:border-transparent md:hover:border-b-[#eeb425];
    }

    .dropdown-item {
        @apply block py-2 px-4 hover:bg-gray-100 font-bold;
    }
}

.drop-shadow {
    -webkit-filter: drop-shadow(2px 1px 0 #fff) drop-shadow(-2px 1px 0 #fff)
    drop-shadow(0 -2px 0 #fff);
}

.drop-shadow-thin {
    -webkit-filter: drop-shadow(1px 1px 0 #fff) drop-shadow(-1px 1px 0 #fff)
    drop-shadow(0 -1px 0 #fff);
}

.article-image {
    display: block;
    width: 100%;
    height: 100px;
    border-radius: 8px 8px 0 0;
    background-position: 300px 220px !important;
    margin: 0 0 20px;
    transition: .3s;
}

.article-image:hover {
    background-position: 350px 220px !important;
}

.camera-icon {
    background: #242c31 url('/public/assets/images/icons/camera.png') no-repeat center;
}

.hotel-icon {
    background: #f68b08 url('/public/assets/images/icons/feeds.png') no-repeat center;
}

.nav-credit-icon {
    background: #e9b124 url('/public/assets/images/icons/currency/credits.png') no-repeat center;
    outline: 1px solid #b26d18;
}

.nav-ducket-icon {
    background: #c44aac url('/public/assets/images/icons/currency/duckets.png') no-repeat center;
    outline: 1px solid #812378;
}

.nav-diamond-icon {
    background: #caf1f3 url('/public/assets/images/icons/currency/diamonds.png') no-repeat center;
    outline: 1px solid #6caff4;
}

.header-bg {
    background: url('/public/assets/images/kasja_mepage_header.png');
}

.me-backdrop {
    height: 150px;
    background: rgba(0, 0, 0, 0.3) url('/public/assets/images/kasja_mepage_image.png');
    background-blend-mode: multiply;
}

.staff-bg {
    background: rgba(0, 0, 0, 0.5) url('https://beeimg.com/images/y39253331242.png');
    background-blend-mode: multiply;
}