@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';


.drop-shadow {
    -webkit-filter: drop-shadow(2px 1px 0 #fff) drop-shadow(-2px 1px 0 #fff)
    drop-shadow(0 -2px 0 #fff);
}

.drop-shadow-thin {
    -webkit-filter: drop-shadow(1px 1px 0 #fff) drop-shadow(-1px 1px 0 #fff)
    drop-shadow(0 -1px 0 #fff);
}